<div>
  <h2 id="page-heading" data-cy="PracticeHeading">
    <span jhiTranslate="frontendApp.practice.home.title">__jhiTransformTranslate__('frontendApp.practice.home.title')</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="frontendApp.practice.home.refreshListLabel"
          >__jhiTransformTranslate__('frontendApp.practice.home.refreshListLabel')</span
        >
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-practice"
        [routerLink]="['/practice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="frontendApp.practice.home.createLabel">__jhiTransformTranslate__('frontendApp.practice.home.createLabel')</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="practices?.length === 0">
    <span jhiTranslate="frontendApp.practice.home.notFound">__jhiTransformTranslate__('frontendApp.practice.home.notFound')</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="practices && practices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">__jhiTransformTranslate__('global.field.id')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyName">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.companyName">__jhiTransformTranslate__('frontendApp.practice.companyName')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="studentName">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.studentName">__jhiTransformTranslate__('frontendApp.practice.studentName')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.startDate">__jhiTransformTranslate__('frontendApp.practice.startDate')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.endDate">__jhiTransformTranslate__('frontendApp.practice.endDate')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tasks">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.tasks">__jhiTransformTranslate__('frontendApp.practice.tasks')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="student.id">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.student">__jhiTransformTranslate__('frontendApp.practice.student')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company.id">
            <div class="d-flex">
              <span jhiTranslate="frontendApp.practice.company">__jhiTransformTranslate__('frontendApp.practice.company')</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let practice of practices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/practice', practice.id, 'view']">{{ practice.id }}</a>
          </td>
          <td>{{ practice.companyName }}</td>
          <td>{{ practice.studentName }}</td>
          <td>{{ practice.startDate | formatMediumDatetime }}</td>
          <td>{{ practice.endDate | formatMediumDatetime }}</td>
          <td>{{ practice.tasks }}</td>
          <td>
            <div *ngIf="practice.student">
              <a [routerLink]="['/student', practice.student.id, 'view']">{{ practice.student.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="practice.company">
              <a [routerLink]="['/company', practice.company.id, 'view']">{{ practice.company.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/practice', practice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">__jhiTransformTranslate__('entity.action.view')</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/practice', practice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">__jhiTransformTranslate__('entity.action.edit')</span>
              </button>

              <button type="submit" (click)="delete(practice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete"
                  >__jhiTransformTranslate__('entity.action.delete')</span
                >
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="practices && practices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
